<!DOCTYPE html>

<html lang="en">

<head>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'image/icon.png' %}">
	<!-- icon.png cortesy to iconfinder.com -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/pupbuddy.css' %}" rel="stylesheet">

</head>

<body>
	<nav class=" navbar navbar-default navbar-fixed-top" style="border:0px;background-color:rgb(60,141,188);height:70px;">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle active" data-toggle="collapse"
				data-target="#navbar" style="border:0px;margin-top:15px;">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" href="#"><h4 style="color:white;font-weight:900;">PupBuddy</h4></a>
			</div>

			<div id="navbar" class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a class="expansion" href="{% url 'login' %}"><h4 style="font-weight:700;color:white;">Log out</h4></a></li>
				</ul>
			</div>
			
		</div>

	</nav>
	
	<div class="container" style="padding-top:100px;">
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1" style="border-style:solid;border-color:black;border-width:5px;height:400px;text-align:center;">
				<video width="400" height="400" autoplay>
  					<source src="http://128.237.247.17:8000/html/?action=stream" type="video/mp4">
					Your browser does not support the video tag.
				</video>
		    </div>
		    <div class="col-lg-6" style="padding-left:40px;">
				<h3>Account #: 3749818</h3>
				<br/>
                <h4>Instruction:</h4> 
                <h4>Please use keyboard or joystick to control the robot</h4>
                <ul id="key-log"></ul>
		    </div>

		</div>
	</div>

<script src="{% static 'js/jQuery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>

var command = [];

function addCommand(newLetter) {
  console.log(newLetter);
  if (command.length > 2) {
    window.alert("command length > 2!");
    return;
  }
  if (command.length == 0) {
    command.push(newLetter);
    sendCommand();
  } else if (command.length == 2) {
    return;
  } else {
    var currentCommand = command[0];
    if ((currentCommand == 'F' && newLetter == 'B') || (currentCommand == 'B' && newLetter == 'F')) {
      return;
    }
    if ((currentCommand == 'L' && newLetter == 'R') || (currentCommand == 'R' && newLetter == 'L')) {
      return;
    }
    command.push(newLetter);
    sendCommand();
  }
  return;
}

function releaseCommand(letter) {
  console.log(letter);
  const index = command.indexOf(letter);
    if (index != -1) {
      command.splice(index, 1);
      sendCommand();
    }
}

function sendCommand() {
  var commandString = "";
  for (var elem in command) {
    commandString += command[elem];
  }
  if (commandString == "") {
  	commandString += "S";
  }
  console.log("sent: ", commandString)
  $.get("sendcommand/" + commandString + "/", function(data, status){
    console.log("Data: " + data + "\nStatus: " + status);
  });
}

window.addEventListener("keydown", function (event) {
  if (event.defaultPrevented) {
    return; // Do nothing if the event was already processed
  }

  switch (event.key) {
    case "ArrowDown":
      if ($("#down-key").length === 0) {
      	$("#key-log").append('<li id="down-key" style="color:red;">Move Backward command has been sent</li>');
      	$("#down-arrow").css('background-color', 'red');
        addCommand("B");
      }
      break;
    case "ArrowUp":
      if ($("#up-key").length === 0) {
      	$("#key-log").append('<li id="up-key" style="color:red;">Move Forward command has been sent</li>');
      	$("#up-arrow").css('background-color', 'red');
        addCommand("F");
      }
      break;
    case "ArrowLeft":
      if ($("#left-key").length === 0) {
       $("#key-log").append('<li id="left-key" style="color:red;">Turn Left command has been sent</li>');
       $("#left-arrow").css('background-color', 'red');
       addCommand("L");
      }
      break;
    case "ArrowRight":
      if ($("#right-key").length === 0) {
        $("#key-log").append('<li id="right-key" style="color:red;">Turn Right command has been sent</li>');
        $("#right-arrow").css('background-color', 'red');
        addCommand("R");
  	  }
      break;
    case "l":
      if ($("#launch-key").length === 0) {
      	$("#key-log").append('<li id="launch-key" style="color:red;">Launch Treat command has been sent</li>');
      	$("#launch-arrow").css('background-color', 'red');
        addCommand("A");
      }
      break;
    default:
      return; // Quit when this doesn't handle the key event.
  }

  // Cancel the default action to avoid it being handled twice
  event.preventDefault();
}, true);
// the last option dispatches the event to the listener first,
// then dispatches event to window

window.addEventListener("keyup", function (event) {
  if (event.defaultPrevented) {
    return; // Do nothing if the event was already processed
  }

  switch (event.key) {
    case "ArrowDown":
      var elem = document.getElementById('down-key');
      elem.parentNode.removeChild(elem);
      $("#down-arrow").css('background-color', 'white');
      releaseCommand("B");
      break;
    case "ArrowUp":
      var elem = document.getElementById('up-key');
      elem.parentNode.removeChild(elem);
      $("#up-arrow").css('background-color', 'white');
      releaseCommand("F");
      break;
    case "ArrowLeft":
      var elem = document.getElementById('left-key');
      elem.parentNode.removeChild(elem);
      $("#left-arrow").css('background-color', 'white');
      releaseCommand("L");
      break;
    case "ArrowRight":
      var elem = document.getElementById('right-key');
      elem.parentNode.removeChild(elem);
      $("#right-arrow").css('background-color', 'white');
      releaseCommand("R");
      break;
    case "l":
      var elem = document.getElementById('launch-key');
      elem.parentNode.removeChild(elem);
      $("#launch-arrow").css('background-color', 'white');
      releaseCommand("A");
      break;
    default:
      return; // Quit when this doesn't handle the key event.
  }

  // Cancel the default action to avoid it being handled twice
  event.preventDefault();
}, true);
// the last option dispatches the event to the listener first,
// then dispatches event to window

</script>

</body>

</html>